
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyles.css') }}">
</head>
<body>
    <!-- Background carousel -->
    <div id="carouselBackground">
        <div class="backgroundSlide" style="background-image: url('/static/images/image.png');"></div>
        <div class="backgroundSlide" style="background-image: url('/static/images/ParkingLotOverhead.png');"></div>
        <div class="backgroundSlide" style="background-image: url('/static/images/PennStateHarrisburgLion.jpg');"></div>
        <!-- More slides as needed -->
      </div>
    <!-- Your login form HTML code goes here -->
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active" id="signin"> Sign In </h2>
          <h2 class="inactive underlineHover" id="signup">Sign Up </h2>
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="{{ url_for('static', filename='images/license_plate_project_logo.png') }}" id="icon" alt="User Icon" />
          </div>
      
          <form id="loginForm" action="{{ url_for('login') }}" method="post" style="display: block;">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
        
        <!-- Sign Up Form -->
        <form id="registerForm" action="{{ url_for('register') }}" method="post" style="display: none;">
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
            <input type="text" id="email" class="fadeIn third" name="email" placeholder="email">
            <input type="text" id="signUpPassword" class="fadeIn third" name="password" placeholder="password">
            <input type="text" id="confirmPassword" class="fadeIn third" name="confirm-password" placeholder="confirm password">
            <input type="submit" class="fadeIn fourth" value="Sign Up">
        </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
      
        </div>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const signInButton = document.getElementById('signin');
            const signUpButton = document.getElementById('signup');
            const signInForm = document.getElementById('loginForm');
            const signUpForm = document.getElementById('registerForm');
            
            signUpButton.addEventListener('click', function() {
                signInForm.style.display = 'none';
                signUpForm.style.display = 'block';
                signInButton.classList.remove('active');
                signUpButton.classList.add('active');
                this.classList.remove('inactive');
                signInButton.classList.add('inactive');
            });
            
            signInButton.addEventListener('click', function() {
                signUpForm.style.display = 'none';
                signInForm.style.display = 'block';
                signUpButton.classList.remove('active');
                this.classList.add('active');
                signUpButton.classList.add('inactive');
                this.classList.remove('inactive');
            });
        });
        // Carousel functionality
      let slideIndex = 0;
      const slides = document.getElementsByClassName('backgroundSlide');
      const totalSlides = slides.length;

      setInterval(() => {
        // Set all slides to be transparent
        for (let slide of slides) {
          slide.style.opacity = 0;
        }
      
        // Increment the slide index
        slideIndex = (slideIndex + 1) % totalSlides;
      
        // Show the next slide
        slides[slideIndex].style.opacity = 1;
      }, 5000); // Change image every 5000 milliseconds (5 seconds)
    </script>
</body>
</html>
